<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>panda.io</title>
    <link rel="shortcut icon" href="static/assets/images/panda-bear.ico" />
    <link rel="stylesheet" href="static/styles/main.css" />
    <script src="static/scripts/renderer.js"></script>
    <script src="static/scripts/bamboo.js"></script>
</head>
<body>

    <div class="content">
        <div class="panda-logo">
            <img src="static/assets/images/panda-bear.png"/>
            <p>panda.io</p>
        </div>
    
    
        <div class="panda-login-form">
            <p class="panda-login-message">Welcome to panda.io! Please login.</p>
    
    
            <div class="panda-login-controls">
                <input id="panda-login-username" type="text" placeholder="What is your email or username?" spellcheck="false" onkeyup = "Page_CanSubmit();" required >
                <input id="panda-login-password" type="password" placeholder="and what is your password?" spellcheck="false" onkeyup = "Page_CanSubmit();" required >
                <button id="panda-login-button" onclick="Page_LoginAccount();" disabled>Sign in</button>
            </div>
        </div>
    </div>
    


    <script type="text/javascript">

        let device_height = document.documentElement.getBoundingClientRect().height;
        //let device_width = document.documentElement.getBoundingClientRect().width;
        if (device_height < 1000) {
            document.documentElement.style.setProperty("--height", `${document.documentElement.scrollHeight * 1.1}px`);
        }

        function Page_DisableControls() {
            let controls = document.getElementsByClassName("panda-login-controls")[0];
            for (let i = 0; i < controls.children.length; i++) {
                let element = controls.children.item(i);
                element.disabled = true;
            }
        }

        function Page_EnableControls() {
            let controls = document.getElementsByClassName("panda-login-controls")[0];
            for (let i = 0; i < controls.children.length; i++) {
                let element = controls.children.item(i);
                element.disabled = false;
            }
        }


        function Page_LoginAccount() {
            let login_button = document.getElementById("panda-login-button");
            let panda_username = document.getElementById("panda-login-username").value;
            let panda_password = document.getElementById("panda-login-password").value;

            Page_DisableControls();

            login( panda_username, panda_password )
                .then(() => {
                    console.log("Logged in.");
                    window.location.href = "/";
                })
                .catch(() => {
                    Page_EnableControls();
                    login_button.disabled = true;
                });
        }

        function Page_CanSubmit() {
            let can_submit = true;

            let login_button = document.getElementById("panda-login-button");
            let controls = document.getElementsByClassName("panda-login-controls")[0];
            for (let i = 0; i < controls.children.length; i++) {
                let element = controls.children.item(i);
                if (element.tagName.toLowerCase() != "input")  {
                    continue;
                }

                console.log(element.value);
                if (element.value.length == 0) {
                    can_submit = false;
                    break;
                }
            }

            login_button.disabled = !can_submit;
        }
        
    </script>
    
</body>
</html>